

.counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 50px;
    border-radius: 10px 10px 10px 10px;
    background-color: #DDEEFF;
    max-width: 300px;
    border: 2px solid limegreen;
}


.but {
    display: flex;
}

.inputstyle{
    border: 2px solid limegreen;

}

App {
    border: 10px solid black;
    display: flex;
    flex-direction: row;
}






